.rightBar {
    width: 100vw;
    height: 60px;
}

.rightBarTopText {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    padding: 16px 24px;
}

.rightBarMiddle {
    display: flex;
}

.Todo {
    width: 310px;
    padding: 16px 20px;
}

.TodoTop {
    display: flex;
    height: 32px;
    width: 68px;
    background-color: #EBEEFC;
    color: #3659E2;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 20px;
}

.ProgressTop {
    display: flex;
    height: 32px;
    width: 97px;
    background-color: #FDF2FA;
    color: #EE46BC;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 20px;
}

.ReviewTop {
    display: flex;
    height: 32px;
    width: 89px;
    background-color: #ECF6FC;
    color: #3FA1E3;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 20px;
}

.CompletedTop {
    display: flex;
    height: 32px;
    width: 95px;
    background-color: #E7F8E9;
    color: #12BB23;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 20px;
}

.TodoTopText {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-left: 4px;
}

.dotImg {
    width: 8px;
    height: 8px;
}

.ToDoMiddle {
    display: flex;
    flex-direction: column;
}

.TodoComponent {
    width: 270px;
    height: 124px;
    padding: 16px;
    margin-bottom: 24px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(56, 88, 232, 0.25);
    cursor: pointer;
}

.TodoComponentTop {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    /* border: 2px solid red; */
    line-height: 24px;
    margin-bottom: 10px;
}

.TodoComponentMiddle {
    display: flex;
    /* border: 2px solid red; */
}

.StartDatecomponet {
    display: flex;
    flex-direction: column;
}

.EndDatecomponet {
    display: flex;
    /* border: 2px solid red; */
    flex-direction: column;
    margin-left: 24px;
}

.DateText {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #777;
}

.ToDoDate {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    background-color: #EBEEFC;
    color: #3659E2;
    margin-top: 4px;
    padding: 4px 8px;
    border-radius: 8px;
    margin-right: 25px;
}

.TodoBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3659E2;
    background-color: #EBEEFC;
    border-radius: 8px;
    width: 270px;
    height: 32px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.TodoBottom:hover {
    background-color: #D8E0FD;
}

.ProgressDate {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    background-color: #FDF2FA;
    color: #EE46BC;
    margin-top: 4px;
    padding: 4px 8px;
    margin-right: 25px;
    border-radius: 8px;
}

.ProgressBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FDF2FA;
    color: #EE46BC;
    border-radius: 8px;
    width: 270px;
    height: 32px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.ProgressBottom:hover {
    background-color: #FCE7F6;
}

.ReviewDate {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    background-color: #ECF6FC;
    color: #3FA1E3;
    margin-top: 4px;
    padding: 4px 8px;
    border-radius: 8px;
    margin-right: 25px;
}

.ReviewBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECF6FC;
    color: #3FA1E3;
    border-radius: 8px;
    width: 270px;
    height: 32px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.ReviewBottom:hover {
    background-color: #D1E9FF;
}

.CompletedDate {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    background-color: #E7F8E9;
    color: #12BB23;
    margin-top: 4px;
    padding: 4px 8px;
    border-radius: 8px;
    margin-right: 25px;
}

.CompletedBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7F8E9;
    color: #12BB23;
    border-radius: 8px;
    width: 270px;
    height: 32px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.CompletedBottom:hover {
    background-color: #B6EABB;
}

.ToDoPlus {
    width: 12px;
    height: 12px;
}

.TodoBottomText {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-left: 4px;
}

.sidebarImage {
    margin-top: 60px;
}


.modalBackdrop {
    width: 500px;
    height: 210px;
    display: flex;
    margin: auto;
    position: absolute;
    transform: translate(110%, 130%);
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 0;
    border-radius: 8px;
}

.modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 20px;
}

.modalTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.modalTop>h1 {
    font-size: 20px;
    color: #3659E2;
}

.modal>input {
    font-size: 18px;
    height: 38px;
    border-radius: 8px;
    text-indent: 10px;
    border: 1px solid gray;
}

.input:focus {
    outline: none;
}

.modalBottom {
    display: flex;
}

.cancelButton,
.updateButton {
    cursor: pointer;
    width: 80px;
    height: 35px;
    margin-top: 30px;
    border-radius: 8px;
    margin-left: auto;
    border: none;
    color: white;
    background-color: #3659E2;
}

.updateButton:hover {
    background-color: transparent;
    color: #3659E2;
    border: 1px solid #3659E2;
    transition: 0.3s ease;
    font-weight: bold;
}

.modalTask {
    width: 670px;
    height: 388px;
    display: flex;
    margin: auto;
    position: absolute;
    background-color: white;
    transform: translate(25%, 40%);
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    z-index: 0;
    border-radius: 8px;
}

.task {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px 24px;
}

.taskTop {
    color: #3659E2;
    font-size: 16px;
    /* border: 2px solid red; */
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 0px;
}

.dates {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.labeltext {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 5px;
}

.error {
    /* border: 2px solid red; */
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #E92B2B;
    /* margin: 5px 5px; */
}

.task>input {
    font-size: 18px;
    height: 38px;
    border-radius: 8px;
    text-indent: 10px;
    border: 1px solid gray;
}

.startDate[type="date"] {
    font-size: 18px;
    height: 38px;
    width: 270px;
    border-radius: 8px;
    text-indent: 10px;
    border: 1px solid gray;
    padding-right: 10px;
}

.list {
    font-size: 18px;
    height: 38px;
    width: 100%;
    border-radius: 8px;
    text-indent: 10px;
    margin-top: 25px;
    border: 1px solid gray;
}

.input:focus {
    outline: none;
}

.buttons {
    display: flex;
    position: absolute;
    transform: translate(0, 450%);
    /* justify-content: space-between; */
}

.TaskButtons,
.TaskButtonsCansel {
    cursor: pointer;
    width: 80px;
    height: 35px;
    margin-top: 30px;
    border-radius: 8px;
    margin-left: auto;
    border: none;
    color: white;
    background-color: #3659E2;
}

.TaskButtons {
    margin-left: 43px;
}

.TaskButtonsCansel {
    color: white;
    margin-left: 420px;
    background-color: #E92B2B;
}

.TaskButtons:hover {
    background-color: transparent;
    color: #3659E2;
    border: 1px solid #3659E2;
    transition: 0.3s ease;
    font-weight: bold;
}

.TaskButtonsCansel:hover {
    background-color: transparent;
    color: #E92B2B;
    border: 1px solid #E92B2B;
    transition: 0.3s ease;
    font-weight: bold;
}

.EndDate {
    margin-top: 0;
    display: flex;
    flex-direction: column;
}